body {
  background-color: #ffffff;
  display: flex; /* Enables flexbox on the body */
  justify-content: center;
  align-items: center; /* Centers content vertically */
  height: 100vh; /* Full viewport height */
  margin: 0;
}

body {
  display: block;
  text-align: center;
  font-size: 50px;
  color: #0a0a0a;
  width: 100%;

  /* Add pulse animation */
  animation: pulse 2s infinite; /* Animation duration is 2 seconds, repeating infinitely */
}

a {
  text-decoration: underline;
  color: rgb(22, 68, 22);
}
a:hover {
  text-decoration: none;
}

/* Keyframes for pulse effect */
@keyframes pulse {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05); /* Slightly enlarges the text at 50% */
  }
  100% {
    opacity: 0.7;
    transform: scale(1);
  }
}
