/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  /* Primary Colors */
  --primary-bg: linear-gradient(to right, #07c15b, #225629);
  --secondary-bg: #c1ff72;
  --extra-bg: #ececec;

  /* Neutral Colors */
  --white-bg: #fff8e6;
  --dark-green-bg: #225629;
  --light-green-bg: #07c15b;
  --light-grey: #ececec;

  /* Text Colors */
  --primary-text: #225629;
  --secondary-text: #07c15b;
  --white-text: #ffffff;
  --dark-text: #333;

  /* Button colors */
  --button-bg: #225629;
  --button-bg-hover: #07c15b;

  /* Padding */
  --container-padding: 5rem 10rem;
  --small-container-padding: 2rem;
  /* Padding */
  --container-padding: 50px;

  /* Gradient color*/
  --gradient-border: linear-gradient(
    to right,
    #a8e6cf,
    #dcedc1,
    #ffd54f,
    #ffab91,
    #ff8c94
  );
}

body {
  min-height: 100vh;
  width: 100%;
  background: white;
}

.container {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  background: transparent;
  /* border-radius: 7px; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border: 5px solid;
  border-image: var(--gradient-border) 1;
}

.form-header {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

img {
  width: 120px;
  height: auto;
}

.form-group:nth-child(5) {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
}

select,
input {
  height: 50px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

select:focus,
input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

button,
input.button {
  color: #fff;
  background: var(--button-bg);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  /* margin-top: 15px; */
  cursor: pointer;
  transition: 0.4s;
}

button:hover,
input.button:hover {
  background: var(--button-bg-hover);
}

a {
  color: var(--button-bg-hover);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.signup {
  margin-bottom: 5rem;
}
