* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 400ms ease;
}

:root {
  /* Primary Colors */
  --primary-bg: linear-gradient(to right, #07c15b, #225629);
  --secondary-bg: #c1ff72;

  /* Neutral Colors */
  --white-bg: #fff8e6;
  --dark-green-bg: #225629;
  --light-green-bg: #07c15b;
  --light-grey: #ececec;

  /* Text Colors */
  --primary-text: #225629;
  --secondary-text: #07c15b;
  --white-text: #ffffff;
  --dark-text: #000000;

  /* Button colors */
  --button-bg: #225629;
  --button-bg-hover: #07c15b;

  /* Padding */
  --container-padding: 5rem 10rem;
}

.btn {
  background-color: var(--button-bg);
}

.btn:hover {
  background-color: var(--button-bg-hover);
}

.container header {
  position: static;
}

.container {
  padding: 5rem 0;
}

.container header,
.container h2 {
  color: var(--primary-text);
  background: transparent;
}

/* ============================= HEADER
 =============================*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.3rem 2rem;
  background: wheat;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

header nav ul li a {
  color: var(--dark-text);
  font-weight: bold;
  text-transform: uppercase;
}

header nav ul li:last-child a {
  background: var(--button-bg);
  padding: 0.7rem 1rem;
  color: var(--white-text);
  border-radius: 100px;
}

header .logo img {
  width: 4rem;
}

header .user-profile img {
  width: 3rem;
  border-radius: 50%;
}

/* ============================= HERO SECTION
 =============================*/
.container {
  padding: var(--container-padding);
}

.hero {
  background: var(--primary-bg);
  padding: 0rem 0rem;
}

.hero-bg {
  padding: 0rem 10rem;
  height: 100vh;
  background-image: url(../assets/bg-image.png);
  background-position-x: right;
  /* linear-gradient(to right, rgba(7, 193, 91, 0.9), rgba(34, 86, 41, 0.9)); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position-y: -4rem;
}

.hero-text {
  background: transparent;
  display: flex;

  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
  color: white;
  padding: 2rem;
}

.hero-text h1 {
  font-size: 5rem;
}

.hero-text h3 {
  font-size: 2rem;
}

.hero-text p {
  font-size: 1.1rem;
}

.hero-text a {
  color: white;
  background: var(--button-bg);
  width: fit-content;
  padding: 0.7rem 2rem;
  border-radius: 50px;
  border: 2px solid white;
}

/* ============================= ABOUT SECTION
 =============================*/
/* Start coding */


/* ============================= FEATURES SECTION
=============================*/
.features {
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* .features { */

.features .features-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 3rem;
}

.features .feature-card {
  display: flex;
  padding: 3rem;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  box-shadow: 0px 5px 5px 5px black;
}

.features .feature-card:nth-child(1) {
  background-color: var(--light-green-bg);
}

.features .feature-card:nth-child(2) {
  background-color: var(--white-bg);
}

.features .feature-card:nth-child(3) {
  background-color: var(--dark-green-bg);
}
/* .feature-card */
.features .feature-card:nth-child(3):hover{
  background: red;
  transform: scale3d(2px);
}
.features .feature-card h4 {
  font-size: 2rem;
}

.features .feature-card img {
  width: 10rem;
}


/* ============================= DIET PLAN SECTION
=============================*/
/* Start coding */


/* ============================= TESTIMONIAL SECTION
 =============================*/
/* Start coding */


/* ============================= GET STARTED SECTION
 =============================*/
/* Start coding */


/* ============================= CALL TO ACTION SECTION
 =============================*/
/* Start coding */


/* ============================= FOOTER SECTION
 =============================*/
/* Start coding */